/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(165, 165, 165);  
    
    color: #350842;
    font: Century, Times, Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: black;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin: 15px;
    width: 145px;
}

img.subpagina {
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.smalltext {
    font-size: 0.7em;
}

.official-website {
    color:purple;
}

a {
    color: purple;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.lijst {
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 20px;
    float: right;
}


.header-subpagina {
    float: left;
    margin: 5px;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(167, 72, 167);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(80, 80, 80);
}

nav li a.active {
    background-color: rgb(80, 80, 80);
}

.speciaal-navigatie {
    padding: 0px;
    margin: 0px;
}




